/src/**/[Bb]in
/src/**/[Oo]bj
/src/**/node_modules
/src/**/bower_components
/src/**/wwwroot/3rdParty
/src/**/wwwroot/Api
/src/**/wwwroot/Backend
/src/**/wwwroot/Frontend
/src/**/temp
/samples/**/[Bb]in
/samples/**/[Oo]bj
/samples/**/node_modules
/samples/**/bower_components
/samples/**/wwwroot/3rdParty
/samples/**/wwwroot/Api
/samples/**/wwwroot/Backend
/samples/**/wwwroot/Frontend
/test/**/[Bb]in
/test/**/[Oo]bj
/test/**/node_modules
/test/**/bower_components
/test/**/wwwroot/3rdParty
/test/**/wwwroot/Api
/test/**/wwwroot/Backend
/test/**/wwwroot/Frontend
/build
/TestResults

*.sln.*
*.suo*
*.user
.vs
/artifacts
*.lock.json
*.tss